# Configuration matrix to orchestrate the Sovereign Trust Pipeline in Replit
modules = ["nodejs-24"] 
run = "npm run launch:cinematic"


[languages.nodejs] 
packageManager = "npm"


[deployment] 
run = ["npm", "run", "launch:cinematic"]


[packager] 
ignoredPaths = ["node_modules", ".lesson", ".tutorial"]

[agent]
expertMode = true
